header {
	display: none;
}

footer {
	display: none;
}

body {
	background-image: none !important;
	background-color: white !important;
}

#page {
	background-color: white !important;
}

/***** Kopie style.css *****/

body {
	background-color: #3a3a3a;
    background-position: left bottom, right bottom;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-image: url('obr/body_bg2.png'), url('obr/body_bg1.png');
    background-size: 50%;
    font-family: sans-serif;
}

nav ul {
	padding: 0;
	margin-top: 0;
	margin-bottom: 0;

}

nav li {
	list-style-type: none;
}

#content {
	min-width: 650px;
    width: 90%;
	max-width: 900px;

	margin: 0 auto;
}

#content h2 {
    clear: both;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 3px;
    margin-bottom: 10px;
    color: #100B0B;
    border-bottom: 2px solid #810000;
    font-size: 22pt;
}

#content h3 {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 0px;
    color: #810000;
    font-size: 12pt;
}

#content p {
    margin: 0;
    padding-top: 0;
    padding-bottom: 10px;
}

#header img {
	width: 100%;
}

#header h1 {
    font-size: 30pt;
    font-family: arial;
    font-weight: bold;
}

#header h1 a {
    text-decoration: none;
}

.white {
    color: #EEEEEE;
}

.red {
    color: #810000;
}

.black {
    color: #100B0B;
}

.dropdown-link {
    background-color: #810000;
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
	text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #EEEEEE;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #8F8F8F;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-link {
    background-color: #100B0B;
}

#page {
	background-color: #EEEEEE;
	width: 94%;
	padding-top: 20px;
	padding-left: 3%;
	padding-right: 3%;
	padding-bottom: 20px;
    overflow: auto;
}

#page a {
    color: #810000;
}

#page a:hover {
    color: #810000;
}

#page table.border {
    border-collapse: collapse;
}

#page table.border td {
    padding: 8px;
    border: 1px solid black;
}

.img_right {
    width: 400px;
    height: auto;
    float: right;
}

footer {
    padding: 10px;
    color: #EEEEEE;
    background-color: #100B0B;
}

footer a {
    color: #EEEEEE;
    padding: 0 5px;
}

footer a:hover {
    color: #810000;
}